*{
    margin:0;
    padding: 0;
}
.card{
    min-width: 200px;
    max-width: 350px;
    border: 1px solid black;
    border-radius: 20px;
    display:inline-block;
    margin:5px;
    padding: 10px 0px 0px 0px;
    overflow: hidden;
}
.price,.productname{
    font-weight: bold;
}
.price{
    background-color: goldenrod;
}
p:not(:last-of-type) {
    padding: 10px 20px 0px 20px;
}
p:first-of-type{
    margin-bottom: 7px;
  
}
p:last-of-type{
    margin-top: 10px;
    padding: 5px; 
}
p:last-of-type span{
    text-decoration-line: line-through;
}